beautifulsoup4==4.12.3
matplotlib==3.9.0
numpy==1.26.4
pandas==2.2.2
Pillow==10.3.0
scipy==1.13.1
selenium==4.21.0
streamlit==1.35.0
torch==2.3.0
torchvision==0.18.0
undetected-chromedriver==3.5.5
webdriver-manager==3.8.6
requests==2.28.2

